body {
  margin: 0;
}
.container {
  background-color: #482931;
  height: 100%;
  overflow: hidden;
  display: flex;
  background-image: url("../../img/component/cardPlate.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card {
  position: absolute;
  transition: transform 1.5s ease;
  width: 200px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}
.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 가로 기준 */
/* 해상도 768px ~ 1023px */
@media all and ((min-width: 768px) and (max-width: 1023px)),
  ((min-height: 541px) and (max-height: 640px)) {
  .card {
    width: 150px;
    height: 225px;
  }
}
/* 해상도 ~ 767px */
@media all and (min-width: 576px) and (max-width: 767px),
  ((min-height: 420px) and (max-height: 540px)) {
  .card {
    width: 100px;
    height: 150px;
  }
}
/* 해상도 ~ 767px */
@media all and (max-width: 575px), (max-height: 419px) {
  .card {
    width: 50px;
    height: 75px;
  }
}
