body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.container {
  background-color: #482931;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  background-image: url("../img/component/cardPlate.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}
.flip {
  width: 200px;
  height: 300px;
}
.flip-outer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  /* top: 10vh; */
  /* padding-left: 10%;
  padding-right: 10%; */
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  /* width: 80%; */
  width: 1000px;
  height: 500px;
}
.flip-outer span:nth-child(1) {
  transform: rotate(-30deg);
}
.flip-outer span:nth-child(3) {
  transform: rotate(30deg);
}
.flip-inner {
  position: relative;
  transition: transform 1.5s ease;
  width: 200px;
  height: 300px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2); /* 오른쪽 위에 밝은 그림자와 왼쪽 아래 그림자 */
  transform-style: preserve-3d;
  perspective: 1000px;
}
.flip-inner img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.flip-inner img:hover {
  cursor: url("../img/component/cursor2.cur"), auto;
  transform: scale(1.1);
  transition: transform 1.5s;
}
.back {
  width: 100%;
  position: absolute;
  z-index: 1;
  backface-visibility: hidden;
}
.front {
  width: 100%;
  position: absolute;
}
#card-title {
  position: relative;
  color: #f0963c;
  font-size: 1.8rem;
  /* top: 50vh; */
  top: 400px;
  /* padding-left: 30%;
  padding-right: 30%; */
  margin-left: 0px;
  margin-right: 0px;
  left: 0px;
  right: 0px;
  width: 200px;
  height: 500px;
}
.modal {
  margin: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-img {
  width: 30vh;
  height: 45vh;
  margin: 2%;
  display: flex;
  border-radius: 15px;
}

.modal-bg {
  display: flex;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vh;
  height: 40vh;
  background-image: url("../img/component/speechBubble.jpg");
}

@media all and ((min-width: 768px) and (max-width: 1023px)),
  ((min-height: 541px) and (max-height: 640px)) {
  .flip,
  .flip-inner,
  .flip-inner img {
    width: 150px;
    height: 225px;
    border-radius: 15px;
  }
  .flip-outer {
    width: 850px;
    height: 325px;
  }
  #card-title {
    /* padding-left: 30%;
    padding-right: 30%; */
    width: 150px;
    height: 450px;
    font-size: 1.5rem;
  }
  #modal-img {
    width: 150px;
    height: 225px;
  }
}
/* 해상도 ~ 767px */
@media all and (min-width: 576px) and (max-width: 767px),
  ((min-height: 420px) and (max-height: 540px)) {
  .flip,
  .flip-inner,
  .flip-inner img {
    width: 100px;
    height: 150px;
    border-radius: 10px;
  }
  .flip-outer {
    width: 500px;
    height: 250px;
  }
  #card-title {
    /* padding-left: 30%;
    padding-right: 30%; */
    width: 200px;
    height: 500px;
    font-size: 1.2rem;
  }
  #card-title > span {
    transform: rotate(0deg);
  }
  #modal-img {
    width: 150px;
    height: 225px;
  }
}
/* 해상도 ~ 767px */
@media all and (max-width: 575px), (max-height: 419px) {
  .flip,
  .flip-inner,
  .flip-inner img {
    width: 50px;
    height: 75px;
    border-radius: 5px;
  }
  .flip-outer {
    width: 400px;
    height: 150px;
  }
  #card-title {
    /* padding-left: 30%;
    padding-right: 30%; */
    width: 200px;
    height: 500px;
    font-size: 1rem;
    top: 325px;
  }
  #card-title > span {
    transform: rotate(0deg);
  }
  #modal-img {
    width: 75px;
    height: 112.5px;
    position: absolute;
    margin-top: 50px;
  }
}
